//
//  Stagging.xcconfig
//  iOSAppTemplate
//
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

// App Configuration
BUNDLE_ID = com.konotori.iosapptemplate.staging
APP_NAME = iOSAppTemplate-Staging

// Compile-time environment flag (see Dev.xcconfig). Enables `#if STAGING`.
SWIFT_ACTIVE_COMPILATION_CONDITIONS = STAGING
